body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

canvas {
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 20px;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: #111;
}

canvas {
  display: block;
  background-color: #000;
}
